@{
    ViewData["Title"] = "Producten";
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        Product.initIndex();
    });
</script>

<div class="row">
    <table id="product-table" class="striped">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Vegan</th>
            </tr>
        </thead>
    </table>
</div>