@model ProductListViewModel

@{
    ViewData["Title"] = CommonTerms.Product_Index;
}

<script type="text/javascript">
    $(function() {
        Product.initIndex();
    });
</script>

<h3 class="page-title">@CommonTerms.Product_Index</h3>
<table id="product-table" class="striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.Name)</th>
            <th>@Html.DisplayNameFor(_ => _.VeganType)</th>
            <th>@Html.DisplayNameFor(_ => _.ProductCategories)</th>
        </tr>
    </thead>
</table>