@{
    ViewData["Title"] = "Werklijst";
}

<script type="text/javascript">
    $(function() {
        Product.initWorkload();
    });
</script>

<div class="row">
    <a href="@Url.Action("ProcessAll", "Product")" class="waves-effect waves-light btn">Verwerken</a>
    <table id="workload-table" class="striped">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Nieuw</th>
            </tr>
        </thead>
    </table>
</div>