@{
    ViewData["Title"] = "Werklijst";
}

<script type="text/javascript">
    $(function() {
        Product.initWorkload();
    });
</script>

<h3 class="page-title">
    Werklijst
    <a href="@Url.Action("ProcessAll", "Product")" class="waves-effect waves-light btn right">Verwerken</a>
</h3>
<table id="workload-table" class="striped">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Nieuw</th>
        </tr>
    </thead>
</table>