header, main, footer {
    padding-left: 200px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.main-content {
    margin-top: $size-md;
}

.page-title {
    margin-top: 0;
    margin-bottom: $size-md;
}

.custom-form-label {
    font-weight: bold;
}