$size-xs: 0.25rem;
$size-md: 0.75rem;

$sidenav-bg-color: #37474f;
$sidenav-font-color: #fff;
$sidenav-width: 200px;

$primary-color: #43a047 !default;
$secondary-color: #43a047 !default;

@import "~materialize-css/sass/materialize.scss";

@import "../Views/Home/Home.scss";
@import "../Views/Product/Product.scss";
@import "../Views/Shared/Layout.scss";

.dataTables_wrapper {
    & .dataTables_paginate {
        @extend .right;
        padding-top: $size-xs;

        & a {
            margin-left: $size-xs;
        }

        & .paginate_button {
            @extend .btn;
        }

        .paginate_button:hover {
            @extend .btn:hover;
        }

        & .paginate_button.disabled,
        & .paginate_button.disabled:hover {
            @extend .btn.disabled;
        }
    }
}

th {
    padding-top: 0;
}

.custom-form-label {
    font-weight: bold;
}