$size-xs: 0.25rem;
$size-md: 0.75rem;

$sidenav-bg-color: #37474f;
$sidenav-font-color: #fff;
$sidenav-width: 200px;

$collapsible-header-color: #37474f;

$primary-color: #43a047 !default;
$secondary-color: #43a047 !default;

@import "~bootstrap/scss/bootstrap.scss";
@import "~@yaireo/tagify/src/tagify.scss";

@import "../Views/Home/Home.scss";
@import "../Views/Product/Product.scss";
@import "../Views/Shared/Layout.scss";

#sidebar {
    min-height: 100vh;

    nav {
                width: 100%;
    }
    a {
        color: $white;
    }
    a:hover {
        color: $gray-500;
    }
    a.active {
        background-color: darken($gray-800, 5%);
    }
}

//Fix Bootstrap pagination for Datatables
.page-link {
    .material-icons {
        margin: -0.5rem;
        vertical-align: middle;
    }
}

.datatables-search-input {
    margin-bottom: 0.5rem;
}

.btn {
    .material-icons {
        vertical-align: middle;
    }
}