@model IngredientViewModel
@{
    ViewData["Title"] = CommonTerms.Ingredient_Create;
}

<h3 class="page-title">@CommonTerms.Ingredient_Create</h3>
@using (Html.BeginForm("Create", "Ingredient", FormMethod.Post, new { @class = "col s12" }))
{
    <div class="row">
        <div class="input-field col s12">
            @Html.TextBoxFor(_ => _.Name)
            @Html.LabelFor(_ => _.Name)
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">@CommonTerms.Action_Save</button>
}