@model IEnumerable<IngredientViewModel>
@{
    ViewData["Title"] = "Ingrediënten";
}
<div class="row">
    <h3>
        Ingrediënten
        <a class="btn-floating btn-large waves-effect waves-light green darken-1 right" href="@Url.Action("Create", "Ingredient")"><i class="material-icons">add</i></a>
    </h3>
    <table class="striped">
        <thead>
            <tr>
                <th>Naam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Model)
            {
                <tr>
                    <td>@ingredient.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>