<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Web</title>
        <link rel="stylesheet" href="dist/main.css">
        <script src="dist/main.js"></script>
    </head>
    <body>
        <header>
            <ul id="sidenav" class="sidenav sidenav-fixed">
                <li><a href="#!">Home</a></li>
            </ul>
            <a href="#" data-target="sidenav" class="sidenav-trigger hide-on-large-only">Menu</a>
        </header>
        <main>
            <div class="container">
                @RenderBody()
            </div>
        </main>
    </body>
</html>
