@using Api.Controllers

@model ProductCategoryCreateViewModel

@{
    ViewData["Title"] = CommonTerms.ProductCategory_Create;
}

<h3 class="page-title">@CommonTerms.ProductCategory_Create</h3>
@using (Html.BeginForm(nameof(ProductCategoryController.Create), ProductCategoryController.RouteName, FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(_ => _.Request.Name)
        @Html.TextBoxFor(_ => _.Request.Name, new { @class = "form-control" })
    </div>
    <button class="btn btn-primary" type="submit">@CommonTerms.Action_Save</button>
}